body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  color: #1cb698;
}
.contenedor {
  background-color: #1e2326;
  max-width: 500px;
  margin: auto;
  border: 1px solid;
  border-color: #1e2326;
  border-radius: 7px;
  padding: 20px;
}
.contenedor-botones {
  float: right;
  background-color: #18936f;
  border: none;
  padding: 10px;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
}
