body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #252a2e;
  color: #1cb698;
}
.contenedor {
  background-color: #1e2326;
  max-width: 500px;
  margin: auto;
  border: 1px solid;
  border-color: #1e2326;
  border-radius: 7px;
  padding: 20px;
}
